.u-section-1 .u-sheet-1 {
  min-height: 2018px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1rem;
  width: 210px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1rem;
  width: 210px;
  margin: 100px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 49px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1rem;
  width: auto;
  margin: 40px 0 0;
}

.u-section-1 .u-text-6 {
  line-height: 1.8;
  width: auto;
  margin: 0;
}

.u-section-1 .u-image-1 {
  width: 170px;
  height: 185px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-1 .u-text-8 {
  width: auto;
  margin: 0 0 34px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 73px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-8 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-4 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    text-decoration: underline !important;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    text-decoration: underline !important;
    margin-top: -120px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: 56px 0 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    text-decoration: underline !important;
  }

  .u-section-1 .u-image-1 {
    width: 230px;
    height: 215px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.125rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
  }
}

.accordion {
  margin: 2em 0;
}
.accordion__summary {
  display: block;
  background: #b2e5ff; /* 見出しの背景色 */
  font-weight: bold;
  position: relative;
  list-style: none; /* 矢印を消す */
  cursor: pointer;
  padding: 3px 38px 3px 10px;
}
.accordion__summary::-webkit-details-marker {
  display: none;
}
.accordion__summary::after {
  content: "+";
  font-size: 1.4em; /* 記号のサイズ */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.accordion[open] .accordion__summary::after {
  content: "−";
}
.accordion__detail {
  padding: 4px 10px;
  margin: 10px 0;
}
.accordion__text {
  margin: 0;
}

.menu {
  display: block;
  text-align: left;
}

/* https://sposai-trivia.com/wix-accordion/#index_id0 */